<h1>New LeetCode Entry</h1>

<p style="color: red"><%= alert %></p>

<%= form_with model: @entry, url: leet_code_entries_path, local: true do |f| %>
  <div>
    <%= f.label :problem_number, "Problem Number*" %><br>
    <%= f.number_field :problem_number, required: true, placeholder: "1" %>
  </div>

  <div>
    <%= f.label :difficulty, "Difficulty (leave blank to auto-fetch from API)*" %><br>
    <%= f.select :difficulty, LeetCodeEntry.difficulties.keys.map { |k| [k.titleize, k] }, { include_blank: true } %>
  </div>

  <div>
    <%= f.label :solved_on, "Date Solved" %><br>
    <%= f.date_field :solved_on, value: @entry.solved_on || Date.current %>
  </div>

  <div style="margin-top:12px;">
    <%= f.submit "Create" %>
    <%= link_to "Cancel", leet_code_entries_path %>
  </div>
<% end %>
