<!DOCTYPE html>
<html>
  <head>
    <title>Leet Planner</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="csrf-token" content="<%= form_authenticity_token %>">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <% if controller_name == "login" && action_name == "index" %>
      <%= stylesheet_link_tag "login", media: "all", "data-turbo-track": "reload" %>
    <% end %>
    <% if controller_name == "dashboard" && action_name == "index" %>
      <%= stylesheet_link_tag "dashboard", media: "all", "data-turbo-track": "reload" %>
    <% end %>

    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>  <!-- Your views get injected here -->
  </body>
</html>
